<span 
	class="stamped-product-reviews-badge stamped-main-badge pointer-events-none" 
	data-id="{{ product.id }}" 
	data-product-sku="{{ product.handle }}" 
	data-product-title="{{product.title}}" 
	data-product-type="{{product.type}}"
	style="filter: brightness(0) saturate(100%) invert(0%) sepia(12%) saturate(2055%) hue-rotate(351deg) brightness(90%) contrast(76%);"
>
  {{ product.metafields.stamped.badge }}
</span>