{%- comment -%}
                        /**
                         *
                         */
                        TODO: CLEAR ALL state
{%- endcomment -%}
{%- liquid

assign total_active = total_active | default: 0

for filter in results.filters
	if filter.active_values.size > 0
		assign total_active = total_active | plus: 1
	endif
endfor

-%}

<div class="active-filters">
    {%- if total_active > 0 -%}
        {%- comment -%}<h2 class="">{{ "products.facets.filter_by_label" | t }}</h2>{%- endcomment -%}
        <div class="flex justify-start flex-wrap gap-[10px] mt-[10px]">
            {%- for filter in results.filters -%}
                {%- for value in filter.active_values -%}
                    <filter-remove data-filter="{{  value.label }}">
                        <a class="pill" href="{{- value.url_to_remove -}}">
                            <span class="text-xs leading-none mr-1 capitalize">
                                {% assign label = value.label | split:':' %}
                                {{ label[1] | trim }}
                                <span class="visually-hidden">{{- "products.facets.clear_filter" | t -}}</span>
                            </span>
                            <svg class="ml-2" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.48456 5.36505C5.41896 5.43065 5.35337 5.48971 5.28779 5.54222C5.21565 5.60129 5.14686 5.62434 5.08141 5.61137C4.98978 5.59846 4.90149 5.54953 4.81654 5.46458C4.73159 5.37964 4.64338 5.29143 4.5519 5.19994L3.53255 4.18059C3.4476 4.09564 3.35939 4.00743 3.26791 3.91595C3.18296 3.831 3.09795 3.77879 3.01287 3.75932C2.9147 3.73987 2.81971 3.76953 2.72789 3.84828C2.63607 3.92703 2.54424 4.01232 2.4524 4.10417L1.3601 5.19646C1.25514 5.30142 1.15019 5.39984 1.04525 5.49171C0.946845 5.59011 0.84529 5.62633 0.740585 5.60034C0.694767 5.59389 0.64244 5.5678 0.583605 5.52209C0.531305 5.48291 0.482298 5.4339 0.436583 5.37507C0.397403 5.32277 0.361503 5.26718 0.328884 5.20832C0.302799 5.156 0.293062 5.11346 0.299674 5.08071C0.312951 4.98902 0.362231 4.90053 0.447515 4.81525C0.532799 4.72997 0.621363 4.6414 0.713207 4.54956L1.74645 3.51631C1.8383 3.42447 1.93344 3.3228 2.03187 3.2113C2.13027 3.11289 2.17302 3.01787 2.1601 2.92624C2.14719 2.8346 2.09499 2.74304 2.00351 2.65156C1.91203 2.56008 1.82055 2.4686 1.72907 2.37712L0.699917 1.34796C0.614971 1.26302 0.530025 1.17807 0.445079 1.09312C0.360133 1.00818 0.311203 0.919887 0.29829 0.82825C0.2853 0.775898 0.295218 0.726774 0.328046 0.680877C0.360847 0.648076 0.393675 0.602179 0.426528 0.543189C0.433115 0.523534 0.449528 0.500586 0.475769 0.474345C0.508545 0.454638 0.531493 0.438224 0.544614 0.425104C0.603604 0.39225 0.646221 0.362703 0.672462 0.336461C0.692143 0.316781 0.731452 0.303608 0.790391 0.296944C0.875545 0.277133 0.96713 0.316235 1.06514 0.41425C1.16969 0.518799 1.26771 0.616814 1.35919 0.708294L2.38834 1.73745C2.47982 1.82893 2.57132 1.91386 2.66282 1.99225C2.75431 2.08373 2.84258 2.13921 2.92766 2.15868C3.02586 2.16503 3.12416 2.11901 3.22256 2.0206C3.32094 1.93529 3.41605 1.84671 3.5079 1.75487L4.61003 0.65274C4.70843 0.554335 4.80354 0.465758 4.89536 0.387008C4.98718 0.308259 5.07889 0.281888 5.1705 0.307895C5.21632 0.314351 5.26538 0.33717 5.31768 0.37635C5.37652 0.422064 5.42552 0.471071 5.4647 0.523372C5.51042 0.582207 5.54632 0.637788 5.5724 0.690114C5.60502 0.748975 5.61803 0.79478 5.61141 0.82753C5.59814 0.919218 5.54886 1.0077 5.46357 1.09299C5.37829 1.17827 5.28973 1.26684 5.19788 1.35868L4.16463 2.39193C4.07279 2.48377 3.97766 2.5789 3.87926 2.6773C3.78739 2.78224 3.74463 2.88381 3.75098 2.982C3.7639 3.07364 3.81936 3.16847 3.91738 3.26648C4.02192 3.37103 4.11994 3.46904 4.21142 3.56053L5.16216 4.51127C5.23404 4.58315 5.31573 4.65828 5.40724 4.73666C5.49872 4.82814 5.56076 4.90986 5.59335 4.98182C5.62589 5.07996 5.61916 5.17164 5.57316 5.25684C5.5338 5.29621 5.50427 5.33227 5.48456 5.36505Z" fill="white"/>
                            </svg>
                        </a>
                    </filter-remove>
                {%- endfor -%}
            {%- endfor -%}
        </div>
    {%- endif -%}
</div>