
{% unless settings.social_url_instagram == blank %}
<a href="{{ settings.social_url_instagram }}" title="Follow us on Instagram" target="_blank"><span class="shopify-social-icon-instagram{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_tiktok == blank %}
<a href="{{ settings.social_url_tiktok }}" title="Come visit our blog" target="_blank">{% include 'icon-tiktok' %}</a>
{% endunless %}
{% unless settings.social_url_youtube == blank %}
<a href="{{ settings.social_url_youtube }}" title="Follow us on YouTube" target="_blank"><span class="shopify-social-icon-youtube{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_spotify == blank %}
<a href="{{ settings.social_url_spotify }}" title="Come visit our blog" target="_blank">{% include 'icon-spotify' %}</a>
{% endunless %}


{% unless settings.social_url_facebook == blank %}
<a href="{{ settings.social_url_facebook }}" title="Follow us on Facebook" target="_blank"><span class="shopify-social-icon-facebook{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_twitter == blank %}
<a href="{{ settings.social_url_twitter }}" title="Follow us on Twitter" target="_blank"><span class="shopify-social-icon-twitter{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_pinterest == blank %}
<a href="{{ settings.social_url_pinterest }}" title="Follow us on Pinterest" target="_blank"><span class="shopify-social-icon-pinterest{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_googleplus == blank %}
<a href="{{ settings.social_url_googleplus }}" title="Follow us on Google+" target="_blank"><span class="shopify-social-icon-googleplus{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_linkedin == blank %}
<a href="{{ settings.social_url_linkedin }}" title="Follow us on linkedin" target="_blank"><span class="shopify-social-icon-linkedin{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_vimeo == blank %}
<a href="{{ settings.social_url_vimeo }}" title="Follow us on Vimeo" target="_blank"><span class="shopify-social-icon-vimeo{{ settings.social_icons_style }}"></span></a>
{% endunless %}
{% unless settings.social_url_tumblr == blank %}
<a href="{{ settings.social_url_tumblr }}" title="Come visit our blog" target="_blank"><span class="shopify-social-icon-tumblr{{ settings.social_icons_style }}"></span></a>
{% endunless %}
