{% include 'shogun-content-handler' %}
<!doctype html>
<html class="no-js" lang="{{- request.locale.iso_code -}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{- canonical_url -}}">

    <!-- shopify domains -->
    <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" crossorigin>

    <!-- third party services -->
    <link rel="preconnect dns-prefetch" href="https://connect.facebook.net" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://analytics.tiktok.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://analytics.getshogun.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://cdn.attn.tv" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://creatives.attn.tv" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://sc-static.net" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://static.klaviyo.com" crossorigin>

    <!-- preload assets -->
    <link rel="preload" href="{{ '_global.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.index.css' | asset_url }}" as="style">
    <link rel="preload" href="https://use.typekit.net/ayv7gad.css" as="style">
    <link
      rel="preload"
      href="https://p.typekit.net/p.css?s=1&k=ayv7gad&ht=tk&f=16365&a=84249394&app=typekit&e=css"
      as="style"
    >

    {{ '_global.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- preload fonts -->
    <link
      rel="preload"
      href="https://cdn.shopify.com/s/files/1/0704/5736/0696/files/AlteHaasGrotesk.woff2"
      as="font"
      type="font/woff2"
    >

    {%- render 'global--scripts-head' %}
    {%- render 'meta--preconnect' %}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{- settings.favicon | img_url: "32x32" -}}">
    {%- endif %}
    <title>
      {%- render 'output--clean-string', string: page_title -%}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>
    {%- render 'meta--tags' %}
    {{ content_for_header }}
    {% style %}
      {% render "__fonts" %}
      {% render "__root" %}
    {% endstyle %}
    <script>
      (document.documentElement.className = document.documentElement.className.replace('no-js', 'js')),
        Shopify.designMode && document.documentElement.classList.add('shopify-design-mode');
    </script>
    {% render '__bundles.js' %}
    {% render 'package--styles' -%}

    {% render 'shogun-head' %}
    {% include 'sca.storelocator' %}
  </head>
  <body>
    {% render 'global--scripts-body' -%}
    {% render 'global--mask' %}
    {% render 'global--header' %}
    {% render 'hide-recaptcha' %}
    <main id="main-content" role="main" tabindex="-1" data-view="{%- render "__namespace" -%}">
      {{ content_for_layout }}
      {%- render 'meta--schema' %}
    </main>
    {% render 'global--footer' %}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
    <script type="text/javascript">
      window.shopUrl = `{{ shop.url }}`;
      window.routes = {
        cart_add_url: `{{ routes.cart_add_url }}`,
        cart_change_url: `{{ routes.cart_change_url }}`,
        cart_update_url: `{{ routes.cart_update_url }}`,
        predictive_search_url: `{{ routes.predictive_search_url }}`,
      };

      window.cartStrings = {
        error: `{{ "sections.cart.cart_error" | t }}`,
        quantityError: `{{ "sections.cart.cart_quantity_error_html" | t: quantity: "[quantity]" }}`,
      };

      window.variantStrings = {
        addToCart: `{{ "products.product.add_to_cart" | t }}`,
        soldOut: `{{ "products.product.sold_out" | t }}`,
        unavailable: `{{ "products.product.unavailable" | t }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ "products.product.media.image_available" | t: index: "[index]" }}`,
        shareSuccess: `{{ "general.share.success_message" | t }}`,
        pauseSlideshow: `{{ "sections.slideshow.pause_slideshow" | t }}`,
        playSlideshow: `{{ "sections.slideshow.play_slideshow" | t }}`,
      };
    </script>
    {% render 'global--scripts-foot' -%}
    {% render 'package--scripts' -%}
    {% render 'gorgias-chat' -%}
    <script src="https://js.afterpay.com/afterpay-1.x.js" data-analytics-enabled async></script>
    <!-- Stamped - Begin script -->
    <script
      async
      type="text/javascript"
      id="stamped-script-widget"
      data-api-key="pubkey-c3nr6R2p6A17x9k0iAdh998QQzqKuv"
      src="https://cdn1.stamped.io/files/widget.min.js"
    ></script>
    <!-- Stamped - End script -->
    <!-- This Klaviyo script embeds the forms -->
    <script
      async
      type="text/javascript"
      src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=J52WT9"
      defer
    ></script>
    <!-- This Klaviyo script triggers the Notify Me btn on PDP -->
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({ account: 'J52WT9', platform: 'shopify' });
      klaviyo.enable('backinstock', {
        trigger: {
          product_page_text: 'Sold Out — Notify Me',
          product_page_class: 'button btn btn-primary grow !max-w-full klaviyo-notify',
          product_page_text_align: 'center',
          product_page_margin: '0px',
          replace_anchor: false,
          alternate_anchor: 'notify-me',
        },
        modal: {
          headline: '{product_name}',
          body_content: 'Register to receive a notification when this item comes back in stock.',
          email_field_label: 'Email',
          button_label: 'Notify me when available',
          subscription_success_label: "You're in! We'll let you know when it's back.",
          footer_content: '',
          font_family: '"AlteHaasGrotesk","Alte Haas Grotesk",sans-serif;',
          headers_font_family: '"AlteHaasGroteskBold","Alte Haas Grotesk Bold",sans-serif;',
          drop_background_color: '#1E1E1E',
          background_color: '#fff',
          border_color: '2px solid #red',
          text_color: '#1E1E1E',
          button_text_color: '#1E1E1E',
          button_background_color: '#E6FF7B',
          close_button_color: '#ccc',
          error_background_color: '#fcd6d7',
          error_text_color: '#C72E2F',
          success_background_color: '#d3efcd',
          success_text_color: '#1E1E1E',
        },
      });

      window.addEventListener('klaviyoForms', function (e) {
        if (e.detail.type == 'submit') {
          if (e.detail.formId === 'Smhuh3') {
            console.log('footer email capture');
            // footer email capture
            document.querySelector('.email-sticker').classList.add('hidden');
          } else if (e.detail.formId === 'TzyPd9') {
            // Nav email capture (Shop tab)
            console.log('Form in Shop tab');
            document.querySelector('.submit-btn-TzyPd9').classList.add('hidden');
          } else if (e.detail.formId === 'TE6GuF') {
            // Nav email capture (About tab)
            console.log('Form in About tab');
            document.querySelector('.submit-btn-TE6GuF').classList.add('hidden');
          }
        }
      });
    </script>
    <script type="text/javascript">
      var _learnq = _learnq || [];

      var wishlistButtons = document.getElementsByClassName('wishlist-button');

      // Loop through each wishlist button
      for (var i = 0; i < wishlistButtons.length; i++) {
        wishlistButtons[i].addEventListener('click', function () {
          var button = this;
          var productId = button.getAttribute('data-product-id');
          var productName = button.getAttribute('data-product-name'); // Replace with actual product name

          var wishlistprodut = {
            product_name: productName,
            product_id: productId,
          };
          _learnq.push(['track', 'add to wishlist', wishlistprodut]);
        });
      }
    </script>
  </body>
</html>
