{% capture cards %}
    {% for block in section.blocks %}
        <div class="slide relative {% if section.settings.dynamic_width == true %} !w-fit {%endif%}">
            <a href="{{ block.settings.url }}" class="inner relative block {% if section.settings.dynamic_width == true %} {% else %}w-full aspect-[4/5]{% endif %} mb-2">
                {% if section.settings.dynamic_width == true %}
                    <img class="h-[425px] md:h-[600px] w-auto max-w-none" src="{{ block.settings.image | image_url }}" alt="">
                {% else %}
                    {% render "component--responsive-image", image: block.settings.image, objectFit: true %}
                {% endif %}
            </a>
            <p class="pl-2">{{ block.settings.caption }}</p>
        </div>
    {% endfor %}
{% endcapture %}

{% assign marqueeSpeed = 300 %}
{% if section.settings.ambient_scroll == true %}
    {% assign marqueeSpeed = 6000 %}
{% endif %}

{% assign marqueeDrag = true %}
{% if section.settings.ambient_scroll == true %}
    {% assign marqueeDrag = false %}
{% endif %}
<div style="{% if section.settings.animation == "Fade" %} opacity: 0; {% endif %} {{section.settings.margin_bottom}}" class="pb-[length:var(--mb-m)] dk:pb-[length:var(--mb-d)]" data-animation="{{- section.settings.animation -}}">
    <div class="richtext mx-auto text-center mb-6 md:mb-12">
        {{ section.settings.title }}
    </div>

    <div class="grid">
        <div class="col-span-12 overflow-hidden {% if section.settings.ambient_scroll == true %} ambient-scroll {% endif %}">
            {% if section.settings.dynamic_width == true %}
                {% render "slot--carousel" 
                   , slot: cards,
                   pagination: false,
                   mobileOnly: false,
                   gutter: 0,
                   centered: section.settings.ambient_scroll,
                   autoplay: section.settings.ambient_scroll,
                   loops: section.settings.ambient_scroll,
                   speed: marqueeSpeed,
                   timing: 0,
                   drag: marqueeDrag %}
            {% else %}
                {% render "slot--carousel" 
                   , slot: cards,
                   pagination: false,
                   mobileOnly: false,
                   gutter: 0,
                   slidesPerView: 4.2,
                   slidesPerViewMobile: 1.15,
                   centered: section.settings.ambient_scroll,
                   autoplay: section.settings.ambient_scroll,
                   loops: section.settings.ambient_scroll,
                   speed: marqueeSpeed,
                   timing: 0,
                   drag: marqueeDrag %}
            {% endif %}

        </div>
    </div>

    {% if section.settings.cta_text != blank and section.settings.cta_url != blank %}
        <div class="cx mt-[30px] dk:mt-[50px]">
            <a href="{{section.settings.cta_url}}" class="btn {{ section.settings.button_style }} w-full md:w-auto mx-auto">{{ section.settings.cta_text }}</a>
        </div>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Image Marquee",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "animation",
                "label": "t:settings_schema.animations.settings.animation.label",
                "info": "t:settings_schema.animations.settings.animation.info",
                "options": [
                    {
                        "value": "",
                        "label": "t:settings_schema.animations.settings.none.label"
                    }, {
                        "value": "Fade",
                        "label": "t:settings_schema.animations.settings.fade.label"
                    }, {
                        "value": "StaggerFade",
                        "label": "t:settings_schema.animations.settings.stagger_fade.label"
                    }
                ],
                "default": ""
            },
            {
                "type": "checkbox",
                "id": "dynamic_width",
                "label": "Dynamic Width",
                "info": "All images will be the same height but will vary in width.",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "ambient_scroll",
                "label": "Ambient Scroll",
                "info": "Carousel will autoplay.",
                "default": false
            },
            {
                "type": "select",
                "id": "margin_bottom",
                "label": "Bottom Margin",
                "info": "Optional space at bottom of section",
                "options": [
                    {
                        "value": "--mb-m: 0px; --mb-d: 0px;",
                        "label": "No margin"
                    }, {
                        "value": "--mb-m: 30px; --mb-d: 60px;",
                        "label": "Small Margin"
                    }, {
                        "value": "--mb-m: 60px; --mb-d: 120px;",
                        "label": "Large Margin"
                    }
                ],
                "default": "--mb-m: 0px; --mb-d: 0px;"
            }, {
                "type": "color",
                "id": "font_color",
                "label": "t:settings_schema.general.settings.font_color.label",
                "info": "t:settings_schema.general.settings.font_color.info",
                "default": "#1E1E1E"
            }, {
                "type": "color",
                "id": "background_color",
                "label": "t:settings_schema.general.settings.background_color.label",
                "info": "t:settings_schema.general.settings.background_color.info",
                "default": "#FFFFFF"
            }, {
                "type": "richtext",
                "id": "title",
                "label": "Title"
            }, {
                "type": "text",
                "id": "cta_text",
                "label": "CTA Text"
            }, {
                "type": "url",
                "id": "cta_url",
                "label": "CTA URL"
            }, {
                "type": "select",
                "id": "button_style",
                "label": "Button Color",
                "options": [
                    {
                        "value": "btn-primary",
                        "label": "Green"
                    }, {
                        "value": "btn-secondary",
                        "label": "White"
                    }, {
                        "value": "",
                        "label": "Black"
                    }
                ],
                "default": "btn-primary"
            }
        ],
        "blocks": [
            {
                "type": "marquee-card",
                "name": "Card",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Card Image"
                    }, {
                        "type": "text",
                        "id": "caption",
                        "label": "Caption"
                    }, {
                        "type": "url",
                        "id": "url",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Image Marquee"
            }
        ]
    }
{% endschema %}