{% capture cards %}
    {% for block in section.blocks %}
        {% liquid
            assign title = block.settings.card_title
            assign url = block.settings.card_url
			assign image = block.settings.card_image
		%}

        <div class="w-[80%] md:w-[25%] shrink-0">
            <div class="md:max-w-[200px] md:max-h-[140px] mx-auto mb-[20px]">
                {% render 'component--responsive-image' 
                   , image: image,
                   maxSize: 1920 %}
            </div>
            <div class="text-center richtext">
                {{ title }}
            </div>
        </div>
    {% endfor %}
{% endcapture %}

<div class="w-full pb-[length:var(--mb-m)] dk:pb-[length:var(--mb-d)]" style="background: {{ section.settings.background_color }}; {{section.settings.margin_bottom}} {% if section.settings.animation == "Fade" %} opacity: 0; {% endif %}" data-animation="{{- section.settings.animation -}}">
    {% if section.settings.title != empty %}
        <div class="h2 richtext mx-auto text-center" style="color: {{ section.settings.font_color }};">
            {{ section.settings.richtext }}
        </div>
    {% endif %}
    <div class="flex flex-col dk:flex-row items-center md:items-start md:justify-center
                             gap-[40px] w-full p-8 overflow-x-scroll [&::-webkit-scrollbar]:hidden">
        {{ cards }}
    </div>

    {% if section.settings.cta_url != nil %}
        <a href="{{ section.settings.cta_url }}" class="btn {{ section.settings.button_style }} mx-auto">{{ section.settings.cta_text }}</a>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Value Props",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "animation",
                "label": "t:settings_schema.animations.settings.animation.label",
                "info": "t:settings_schema.animations.settings.animation.info",
                "options": [
                    {
                        "value": "",
                        "label": "t:settings_schema.animations.settings.none.label"
                    }, {
                        "value": "Fade",
                        "label": "t:settings_schema.animations.settings.fade.label"
                    }, {
                        "value": "StaggerFade",
                        "label": "t:settings_schema.animations.settings.stagger_fade.label"
                    }
                ],
                "default": ""
            },
            {
                "type": "select",
                "id": "margin_bottom",
                "label": "Bottom Margin",
                "info": "Optional space at bottom of section",
                "options": [
                    {
                        "value": "--mb-m: 0px; --mb-d: 0px;",
                        "label": "No margin"
                    }, {
                        "value": "--mb-m: 30px; --mb-d: 60px;",
                        "label": "Small Margin"
                    }, {
                        "value": "--mb-m: 60px; --mb-d: 120px;",
                        "label": "Large Margin"
                    }
                ],
                "default": "--mb-m: 0px; --mb-d: 0px;"
            },
            {
                "type": "color",
                "id": "font_color",
                "label": "t:settings_schema.general.settings.font_color.label",
                "info": "t:settings_schema.general.settings.font_color.info",
                "default": "#1E1E1E"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "t:settings_schema.general.settings.background_color.label",
                "info": "t:settings_schema.general.settings.background_color.info",
                "default": "#FFFFFF"
            }, {
                "type": "richtext",
                "id": "richtext",
                "label": "Title"
            }, {
                "type": "text",
                "id": "cta_text",
                "label": "CTA Text"
            }, {
                "type": "url",
                "id": "cta_url",
                "label": "CTA URL"
            }, {
                "type": "select",
                "id": "button_style",
                "label": "Button Color",
                "options": [
                    {
                        "value": "btn-primary",
                        "label": "Green"
                    }, {
                        "value": "btn-secondary",
                        "label": "White"
                    }, {
                        "value": "",
                        "label": "Black"
                    }
                ],
                "default": "btn-primary"
            }
        ],
        "blocks": [
            {
                "type": "card",
                "name": "Card",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "card_image",
                        "label": "Card image"
                    }, {
                        "type": "richtext",
                        "id": "card_title",
                        "label": "Card title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Value Props"
            }
        ]
    }
{% endschema %}