{% assign pc = product.metafields.custom.primary_collection.value %}

{% comment %}
{%- capture fit_slides_n %}
    {%- for media in product.metafields.custom.fit_media.value %}
        <div class="slide aspect-square relative w-full lifestyle-image">
            {% if media.media_type == 'image' %}
                {% render "component--responsive-image", image: media, objectFit: true %}
            {% endif %}
            {% if media.media_type == 'video' %}
                <video class="w-full h-full object-cover lazy" muted="muted" loop="loop" playsinline="playsinline" preload="metadata" src="{{media.sources[1].url}}">
                    <source src="{{media.sources[1].url}}" type="video/mp4"></source>
                </video>
            {% endif %}
        </div>
    {%- endfor %}
{%- endcapture %}
{% endcomment %}

{%- capture fit_slides %}
{% for block in section.blocks %}
    <div class="slide aspect-square relative w-full lifestyle-image">
            <video class="w-full h-full object-cover lazy" muted="muted" loop="loop" playsinline="playsinline" preload="metadata" data-src="{{block.settings.fit_video.sources[1].url}}">
                <source type="video/mp4"></source>
            </video>
            <p style="--leading-body: 0;" class="absolute left-0 right-0 -bottom-6 bg-white text-off-black font-secondary text-sm">{{ block.settings.alt_text }}</p>
        </div>
{% endfor %}
{%- endcapture %}

{% capture section_markup %}
    <div class="grid mt-5 mb-[60px] dk:my-[30px] auto-rows-auto dk:grid-rows-1 grid-cols-12">
        <div class="row-start-2 cx w-fit dk:row-start-auto col-span-12 dk:col-span-5 bg-white">
            <h5 class="mb-4 mt-[30px] dk:mt-0">{{ product.metafields.custom.fit_description }}</h5>
            <p class="js-trigger-size-fit cursor-pointer flex items-center gap-2">Size & Fit Details
                <span class="w-[15px] inline-block">{% render 'icon--tooltip' %}</span>
            </p>
        </div>
        <div class="row-start-1 cx relative pb-6 dk:pl-0 dk:pr-[var(--site-gutter)] dk:row-start-auto col-span-12 dk:col-span-7 overflow-hidden">
        {% if section.blocks.size > 1 %}
            {% render "slot--carousel", 
                slot: fit_slides, 
                pagination: true, 
                mobileOnly: false, 
                paginationClasses: "!w-[calc(100%-30px)] md:-ml-[5px]"
                classes: 'main-style cursor-pointer play-video-on-entrance',
                autoplay: false,
                loops: false,
                sectionID: section.id,
                onClick: "change-prev-next"
            %}
        {% elsif section.blocks.size == 1  %}
            <div class="slide aspect-square relative w-full lifestyle-image">
                <video class="w-full h-full object-cover lazy" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" preload="metadata" data-src="{{section.blocks[0].settings.fit_video.sources[1].url}}">
                    <source type="video/mp4"></source>
                </video>
                <p style="--leading-body: 0;" class="absolute left-0 -bottom-6 text-off-black font-secondary text-sm">{{ section.blocks[0].settings.alt_text }}</p>
            </div>
        {% endif %}
        </div>
    </div>
{% endcapture %}

<div 
class="fit pt-[var(--site-gutter)] pb-[length:var(--mb-m)] dk:pb-[length:var(--mb-d)]"
style="{{section.settings.margin_bottom}} {% if section.settings.animation == "Fade" %} opacity: 0; {% endif %}"
data-animation="{{- section.settings.animation -}}"
>
    {% if section.settings.is_accordion %}
        {% render 'slot--accordion' heading: section.settings.heading, headingTag: 'h2', headingClasses: 'h4 py-4', content: section_markup, open: section.settings.open, summaryClasses: 'mx-[var(--site-gutter)] w-auto border-t border-t-light-gray', borderClasses: 'mx-[var(--site-gutter)] w-auto border-b border-b-light-gray' %}
    {% else %}
        <h2 class="h4 cy cx">{{ section.settings.heading }}</h2>
        {{ section_markup }}
    {% endif %}
</div>
<drawer-overlay data-external-trigger="size-fit">
    <div class="drawer-2 fixed z-50 top-0 bottom-0 right-0 h-full w-full max-w-[588px] bg-white translate-x-full overflow-y-auto">
        <div class="bg-faded-lime cx cy flex items-center justify-between">
            <h6 class="grotesk-bold">Size & Fit Details</h6>
            <div class="js-close w-[20px] cursor-pointer">
                {% render 'icon--close' %}
            </div>
        </div>
        <div class="inner cx cy">
            <p class="py-4 border-b grotesk-bold text-[18px]">Measurements</p>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Frame Height</p>
                <p>{{ pc.metafields.custom.frame_height | remove: '.0' }} mm</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Frame Width</p>
                <p>{{ pc.metafields.custom.frame_width | remove: '.0' }} mm</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Lens Width</p>
                <p>{{ pc.metafields.custom.lens_width | remove: '.0' }} mm</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Nose Bridge Width</p>
                <p>{{ pc.metafields.custom.nose_bridge_width | remove: '.0' }} mm</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Temple Length</p>
                <p>{{ pc.metafields.custom.temple_length | remove: '.0' }} mm</p>
            </div>

            <div class="w-full relative">
                {% render "molecule--product-crossed", product: product %}
                <div class="absolute flex flex-col items-center justify-center left-0 right-0 top-[35px] dk:top-[60px] pointer-events-none">
                    <p class="font-secondary">Nose Bride Width</p>
                    <svg aria-hidden="true" role="none" focusable="false" class="w-[66px] h-[6px]" viewBox="0 0 66 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M65.6667 3C65.6667 1.52724 64.4728 0.333333 63 0.333333C61.5272 0.333333 60.3333 1.52724 60.3333 3C60.3333 4.47276 61.5272 5.66667 63 5.66667C64.4728 5.66667 65.6667 4.47276 65.6667 3ZM5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333336 1.52724 0.333336 3C0.333336 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3ZM63 2.5H62.0625V3.5H63V2.5ZM60.1875 2.5H58.3125V3.5H60.1875V2.5ZM56.4375 2.5H54.5625V3.5H56.4375V2.5ZM52.6875 2.5H50.8125V3.5H52.6875V2.5ZM48.9375 2.5H47.0625V3.5H48.9375V2.5ZM45.1875 2.5H43.3125V3.5L45.1875 3.5V2.5ZM41.4375 2.5H39.5625V3.5H41.4375V2.5ZM37.6875 2.5L35.8125 2.5V3.5L37.6875 3.5V2.5ZM33.9375 2.5H32.0625V3.5H33.9375V2.5ZM30.1875 2.5L28.3125 2.5V3.5L30.1875 3.5V2.5ZM26.4375 2.5L24.5625 2.5V3.5H26.4375V2.5ZM22.6875 2.5L20.8125 2.5V3.5L22.6875 3.5V2.5ZM18.9375 2.5L17.0625 2.5V3.5L18.9375 3.5V2.5ZM15.1875 2.5L13.3125 2.5V3.5L15.1875 3.5V2.5ZM11.4375 2.5L9.5625 2.5V3.5L11.4375 3.5V2.5ZM7.6875 2.5L5.8125 2.5V3.5L7.6875 3.5V2.5ZM3.9375 2.5H3V3.5H3.9375V2.5Z" fill="#1E1E1E"/>
                    </svg>
                </div>
                <div class="absolute flex flex-col items-center justify-center top-0 bottom-0 -left-[47px] dk:-left-[90px] -rotate-90 pointer-events-none">
                    <p class="font-secondary">Frame Height</p>
                    <svg aria-hidden="true" role="none" focusable="false" class="w-[100px] dk:w-[184px] h-[6px]" viewBox="0 0 184 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M183.667 3C183.667 1.52724 182.473 0.333333 181 0.333333C179.527 0.333333 178.333 1.52724 178.333 3C178.333 4.47276 179.527 5.66667 181 5.66667C182.473 5.66667 183.667 4.47276 183.667 3ZM5.66667 2.99998C5.66667 1.52723 4.47276 0.333318 3 0.333318C1.52724 0.333318 0.333335 1.52722 0.333335 2.99998C0.333335 4.47274 1.52724 5.66665 3 5.66665C4.47276 5.66665 5.66667 4.47274 5.66667 2.99998ZM181 2.5L180.092 2.5L180.092 3.5L181 3.5L181 2.5ZM178.276 2.5L176.459 2.5L176.459 3.5L178.276 3.5L178.276 2.5ZM174.643 2.5L172.827 2.5L172.827 3.5L174.643 3.5L174.643 2.5ZM171.01 2.5L169.194 2.5L169.194 3.5L171.01 3.5L171.01 2.5ZM167.378 2.5L165.561 2.5L165.561 3.5L167.378 3.5L167.378 2.5ZM163.745 2.5L161.929 2.5L161.929 3.5L163.745 3.5L163.745 2.5ZM160.112 2.5L158.296 2.5L158.296 3.5L160.112 3.5L160.112 2.5ZM156.48 2.5L154.663 2.5L154.663 3.5L156.48 3.5L156.48 2.5ZM152.847 2.5L151.031 2.5L151.031 3.5L152.847 3.5L152.847 2.5ZM149.214 2.5L147.398 2.5L147.398 3.5L149.214 3.5L149.214 2.5ZM145.582 2.5L143.765 2.5L143.765 3.5L145.582 3.5L145.582 2.5ZM141.949 2.5L140.133 2.5L140.133 3.5L141.949 3.5L141.949 2.5ZM138.316 2.5L136.5 2.5L136.5 3.5L138.316 3.5L138.316 2.5ZM134.684 2.5L132.867 2.5L132.867 3.5L134.684 3.5L134.684 2.5ZM131.051 2.5L129.235 2.5L129.235 3.5L131.051 3.5L131.051 2.5ZM127.418 2.5L125.602 2.5L125.602 3.5L127.418 3.5L127.418 2.5ZM123.786 2.49999L121.969 2.49999L121.969 3.49999L123.786 3.49999L123.786 2.49999ZM120.153 2.49999L118.337 2.49999L118.337 3.49999L120.153 3.49999L120.153 2.49999ZM116.52 2.49999L114.704 2.49999L114.704 3.49999L116.52 3.49999L116.52 2.49999ZM112.888 2.49999L111.071 2.49999L111.071 3.49999L112.888 3.49999L112.888 2.49999ZM109.255 2.49999L107.439 2.49999L107.439 3.49999L109.255 3.49999L109.255 2.49999ZM105.622 2.49999L103.806 2.49999L103.806 3.49999L105.622 3.49999L105.622 2.49999ZM101.99 2.49999L100.173 2.49999L100.173 3.49999L101.99 3.49999L101.99 2.49999ZM98.3571 2.49999L96.5408 2.49999L96.5408 3.49999L98.3571 3.49999L98.3571 2.49999ZM94.7245 2.49999L92.9081 2.49999L92.9081 3.49999L94.7245 3.49999L94.7245 2.49999ZM91.0918 2.49999L89.2755 2.49999L89.2755 3.49999L91.0918 3.49999L91.0918 2.49999ZM87.4591 2.49999L85.6428 2.49999L85.6428 3.49999L87.4591 3.49999L87.4591 2.49999ZM83.8265 2.49999L82.0101 2.49999L82.0101 3.49999L83.8265 3.49999L83.8265 2.49999ZM80.1938 2.49999L78.3775 2.49999L78.3775 3.49999L80.1938 3.49999L80.1938 2.49999ZM76.5612 2.49999L74.7448 2.49999L74.7448 3.49999L76.5612 3.49999L76.5612 2.49999ZM72.9285 2.49999L71.1122 2.49999L71.1122 3.49999L72.9285 3.49999L72.9285 2.49999ZM69.2958 2.49999L67.4795 2.49999L67.4795 3.49999L69.2958 3.49999L69.2958 2.49999ZM65.6632 2.49999L63.8468 2.49999L63.8468 3.49999L65.6632 3.49999L65.6632 2.49999ZM62.0305 2.49999L60.2142 2.49999L60.2142 3.49999L62.0305 3.49999L62.0305 2.49999ZM58.3979 2.49999L56.5815 2.49999L56.5815 3.49999L58.3979 3.49999L58.3979 2.49999ZM54.7652 2.49999L52.9489 2.49999L52.9489 3.49999L54.7652 3.49999L54.7652 2.49999ZM51.1325 2.49999L49.3162 2.49999L49.3162 3.49999L51.1325 3.49999L51.1325 2.49999ZM47.4999 2.49999L45.6835 2.49999L45.6835 3.49999L47.4999 3.49999L47.4999 2.49999ZM43.8672 2.49999L42.0509 2.49999L42.0509 3.49999L43.8672 3.49999L43.8672 2.49999ZM40.2346 2.49999L38.4182 2.49999L38.4182 3.49999L40.2346 3.49999L40.2346 2.49999ZM36.6019 2.49999L34.7856 2.49999L34.7856 3.49999L36.6019 3.49999L36.6019 2.49999ZM32.9692 2.49999L31.1529 2.49999L31.1529 3.49999L32.9692 3.49999L32.9692 2.49999ZM29.3366 2.49999L27.5202 2.49999L27.5202 3.49999L29.3366 3.49999L29.3366 2.49999ZM25.7039 2.49999L23.8876 2.49999L23.8876 3.49999L25.7039 3.49999L25.7039 2.49999ZM22.0713 2.49999L20.2549 2.49999L20.2549 3.49999L22.0713 3.49999L22.0713 2.49999ZM18.4386 2.49999L16.6223 2.49999L16.6223 3.49999L18.4386 3.49999L18.4386 2.49999ZM14.8059 2.49999L12.9896 2.49999L12.9896 3.49999L14.8059 3.49999L14.8059 2.49999ZM11.1733 2.49999L9.35695 2.49998L9.35695 3.49998L11.1733 3.49999L11.1733 2.49999ZM7.54062 2.49998L5.72429 2.49998L5.72429 3.49998L7.54062 3.49998L7.54062 2.49998ZM3.90796 2.49998L3 2.49998L3 3.49998L3.90796 3.49998L3.90796 2.49998Z" fill="#1E1E1E"/>
                    </svg>                    
                </div>
                <div class="absolute flex flex-col items-center justify-center right-[40px] dk:right-[50px] bottom-[30px] dk:bottom-[60px] pointer-events-none">
                    <svg aria-hidden="true" role="presentation" focusable="false" class="w-[80px] dk:w-[161px] h-[6px]" viewBox="0 0 161 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M160.667 3C160.667 1.52724 159.473 0.333333 158 0.333333C156.527 0.333333 155.333 1.52724 155.333 3C155.333 4.47276 156.527 5.66667 158 5.66667C159.473 5.66667 160.667 4.47276 160.667 3ZM5.66666 3C5.66666 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333328 1.52724 0.333328 3C0.333328 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66666 4.47276 5.66666 3ZM158 2.5H157.077V3.5H158V2.5ZM155.232 2.5H153.387V3.5H155.232V2.5ZM151.542 2.5H149.696V3.5H151.542V2.5ZM147.851 2.5H146.006V3.5H147.851V2.5ZM144.161 2.5H142.315V3.5H144.161V2.5ZM140.47 2.5H138.625V3.5H140.47V2.5ZM136.78 2.5H134.935V3.5H136.78V2.5ZM133.089 2.5H131.244V3.5L133.089 3.5V2.5ZM129.399 2.5H127.554V3.5H129.399V2.5ZM125.708 2.5H123.863V3.5L125.708 3.5V2.5ZM122.018 2.5H120.173V3.5H122.018V2.5ZM118.327 2.5L116.482 2.5V3.5L118.327 3.5V2.5ZM114.637 2.5H112.792V3.5H114.637V2.5ZM110.946 2.5L109.101 2.5V3.5L110.946 3.5V2.5ZM107.256 2.5H105.411V3.5H107.256V2.5ZM103.565 2.5L101.72 2.5V3.5L103.565 3.5V2.5ZM99.875 2.5H98.0298V3.5H99.875V2.5ZM96.1845 2.5L94.3393 2.5V3.5L96.1845 3.5V2.5ZM92.4941 2.5L90.6488 2.5V3.5H92.4941V2.5ZM88.8036 2.5L86.9583 2.5V3.5L88.8036 3.5V2.5ZM85.1131 2.5L83.2679 2.5V3.5H85.1131V2.5ZM81.4226 2.5L79.5774 2.5V3.5L81.4226 3.5V2.5ZM77.7322 2.5L75.8869 2.5V3.5L77.7322 3.5V2.5ZM74.0417 2.5L72.1964 2.5V3.5L74.0417 3.5V2.5ZM70.3512 2.5L68.506 2.5V3.5L70.3512 3.5V2.5ZM66.6607 2.5L64.8155 2.5V3.5L66.6607 3.5V2.5ZM62.9702 2.5L61.125 2.5V3.5L62.9702 3.5V2.5ZM59.2798 2.5L57.4345 2.5V3.5L59.2798 3.5V2.5ZM55.5893 2.5L53.7441 2.5V3.5L55.5893 3.5V2.5ZM51.8988 2.5L50.0536 2.5V3.5L51.8988 3.5V2.5ZM48.2084 2.5L46.3631 2.5V3.5L48.2084 3.5V2.5ZM44.5179 2.5L42.6726 2.5V3.5L44.5179 3.5V2.5ZM40.8274 2.5L38.9822 2.5V3.5L40.8274 3.5V2.5ZM37.1369 2.5L35.2917 2.5V3.5L37.1369 3.5V2.5ZM33.4464 2.5L31.6012 2.5V3.5L33.4464 3.5V2.5ZM29.756 2.5L27.9107 2.5V3.5L29.756 3.5V2.5ZM26.0655 2.5L24.2202 2.5V3.5L26.0655 3.5V2.5ZM22.375 2.5L20.5297 2.5V3.5H22.375V2.5ZM18.6845 2.5L16.8392 2.5V3.5L18.6845 3.5V2.5ZM14.994 2.5L13.1488 2.5V3.5H14.994V2.5ZM11.3035 2.5L9.45827 2.5V3.5L11.3035 3.5V2.5ZM7.61302 2.5H5.76778V3.5H7.61302V2.5ZM3.92253 2.5L3 2.5V3.5L3.92253 3.5V2.5Z" fill="#1E1E1E"/>
                    </svg>
                    <p class="font-secondary">Lens Width</p>
                </div>
                <div class="absolute flex flex-col items-center justify-center left-0 right-0 bottom-0 pointer-events-none">
                    <svg aria-hidden="true" role="none" focusable="false" class="w-full h-[6px]" viewBox="0 0 486 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM480.333 2.99996C480.333 4.47272 481.527 5.66662 483 5.66662C484.473 5.66662 485.667 4.47272 485.667 2.99996C485.667 1.5272 484.473 0.333291 483 0.333291C481.527 0.333291 480.333 1.5272 480.333 2.99996ZM3 3.5L3.91603 3.5L3.91603 2.5L3 2.5L3 3.5ZM5.74809 3.5L7.58015 3.5L7.58015 2.5L5.74809 2.5L5.74809 3.5ZM9.41221 3.5L11.2443 3.5L11.2443 2.5L9.41221 2.5L9.41221 3.5ZM13.0763 3.5L14.9084 3.5L14.9084 2.5L13.0763 2.5L13.0763 3.5ZM16.7405 3.5L18.5725 3.5L18.5725 2.5L16.7405 2.5L16.7405 3.5ZM20.4046 3.5L22.2366 3.5L22.2366 2.5L20.4046 2.5L20.4046 3.5ZM24.0687 3.5L25.9008 3.5L25.9008 2.5L24.0687 2.5L24.0687 3.5ZM27.7328 3.5L29.5649 3.5L29.5649 2.5L27.7328 2.5L27.7328 3.5ZM31.3969 3.5L33.229 3.5L33.229 2.5L31.3969 2.5L31.3969 3.5ZM35.0611 3.5L36.8931 3.5L36.8931 2.5L35.0611 2.5L35.0611 3.5ZM38.7252 3.5L40.5573 3.5L40.5573 2.5L38.7252 2.5L38.7252 3.5ZM42.3893 3.5L44.2214 3.5L44.2214 2.5L42.3893 2.5L42.3893 3.5ZM46.0534 3.5L47.8855 3.5L47.8855 2.5L46.0534 2.5L46.0534 3.5ZM49.7176 3.5L51.5496 3.5L51.5496 2.5L49.7176 2.5L49.7176 3.5ZM53.3817 3.5L55.2137 3.5L55.2137 2.5L53.3817 2.5L53.3817 3.5ZM57.0458 3.5L58.8779 3.5L58.8779 2.5L57.0458 2.5L57.0458 3.5ZM60.7099 3.49999L62.542 3.49999L62.542 2.49999L60.7099 2.49999L60.7099 3.49999ZM64.3741 3.49999L66.2061 3.49999L66.2061 2.49999L64.3741 2.49999L64.3741 3.49999ZM68.0382 3.49999L69.8702 3.49999L69.8702 2.49999L68.0382 2.49999L68.0382 3.49999ZM71.7023 3.49999L73.5344 3.49999L73.5344 2.49999L71.7023 2.49999L71.7023 3.49999ZM75.3664 3.49999L77.1985 3.49999L77.1985 2.49999L75.3664 2.49999L75.3664 3.49999ZM79.0306 3.49999L80.8626 3.49999L80.8626 2.49999L79.0306 2.49999L79.0306 3.49999ZM82.6947 3.49999L84.5267 3.49999L84.5267 2.49999L82.6947 2.49999L82.6947 3.49999ZM86.3588 3.49999L88.1909 3.49999L88.1909 2.49999L86.3588 2.49999L86.3588 3.49999ZM90.0229 3.49999L91.855 3.49999L91.855 2.49999L90.0229 2.49999L90.0229 3.49999ZM93.687 3.49999L95.5191 3.49999L95.5191 2.49999L93.687 2.49999L93.687 3.49999ZM97.3512 3.49999L99.1832 3.49999L99.1832 2.49999L97.3512 2.49999L97.3512 3.49999ZM101.015 3.49999L102.847 3.49999L102.847 2.49999L101.015 2.49999L101.015 3.49999ZM104.679 3.49999L106.511 3.49999L106.511 2.49999L104.679 2.49999L104.679 3.49999ZM108.344 3.49999L110.176 3.49999L110.176 2.49999L108.344 2.49999L108.344 3.49999ZM112.008 3.49999L113.84 3.49999L113.84 2.49999L112.008 2.49999L112.008 3.49999ZM115.672 3.49999L117.504 3.49999L117.504 2.49999L115.672 2.49999L115.672 3.49999ZM119.336 3.49999L121.168 3.49999L121.168 2.49999L119.336 2.49999L119.336 3.49999ZM123 3.49999L124.832 3.49999L124.832 2.49999L123 2.49999L123 3.49999ZM126.664 3.49999L128.496 3.49999L128.496 2.49999L126.664 2.49999L126.664 3.49999ZM130.328 3.49999L132.16 3.49999L132.16 2.49999L130.328 2.49999L130.328 3.49999ZM133.992 3.49999L135.824 3.49999L135.824 2.49999L133.992 2.49999L133.992 3.49999ZM137.657 3.49999L139.489 3.49999L139.489 2.49999L137.657 2.49999L137.657 3.49999ZM141.321 3.49999L143.153 3.49999L143.153 2.49999L141.321 2.49999L141.321 3.49999ZM144.985 3.49999L146.817 3.49999L146.817 2.49999L144.985 2.49999L144.985 3.49999ZM148.649 3.49999L150.481 3.49999L150.481 2.49999L148.649 2.49999L148.649 3.49999ZM152.313 3.49999L154.145 3.49999L154.145 2.49999L152.313 2.49999L152.313 3.49999ZM155.977 3.49999L157.809 3.49999L157.809 2.49999L155.977 2.49999L155.977 3.49999ZM159.641 3.49999L161.473 3.49999L161.473 2.49999L159.641 2.49999L159.641 3.49999ZM163.305 3.49999L165.137 3.49999L165.137 2.49999L163.305 2.49999L163.305 3.49999ZM166.97 3.49999L168.802 3.49999L168.802 2.49999L166.97 2.49999L166.97 3.49999ZM170.634 3.49999L172.466 3.49999L172.466 2.49999L170.634 2.49999L170.634 3.49999ZM174.298 3.49999L176.13 3.49998L176.13 2.49998L174.298 2.49999L174.298 3.49999ZM177.962 3.49998L179.794 3.49998L179.794 2.49998L177.962 2.49998L177.962 3.49998ZM181.626 3.49998L183.458 3.49998L183.458 2.49998L181.626 2.49998L181.626 3.49998ZM185.29 3.49998L187.122 3.49998L187.122 2.49998L185.29 2.49998L185.29 3.49998ZM188.954 3.49998L190.786 3.49998L190.786 2.49998L188.954 2.49998L188.954 3.49998ZM192.618 3.49998L194.45 3.49998L194.45 2.49998L192.618 2.49998L192.618 3.49998ZM196.283 3.49998L198.115 3.49998L198.115 2.49998L196.283 2.49998L196.283 3.49998ZM199.947 3.49998L201.779 3.49998L201.779 2.49998L199.947 2.49998L199.947 3.49998ZM203.611 3.49998L205.443 3.49998L205.443 2.49998L203.611 2.49998L203.611 3.49998ZM207.275 3.49998L209.107 3.49998L209.107 2.49998L207.275 2.49998L207.275 3.49998ZM210.939 3.49998L212.771 3.49998L212.771 2.49998L210.939 2.49998L210.939 3.49998ZM214.603 3.49998L216.435 3.49998L216.435 2.49998L214.603 2.49998L214.603 3.49998ZM218.267 3.49998L220.099 3.49998L220.099 2.49998L218.267 2.49998L218.267 3.49998ZM221.931 3.49998L223.763 3.49998L223.763 2.49998L221.931 2.49998L221.931 3.49998ZM225.595 3.49998L227.428 3.49998L227.428 2.49998L225.595 2.49998L225.595 3.49998ZM229.26 3.49998L231.092 3.49998L231.092 2.49998L229.26 2.49998L229.26 3.49998ZM232.924 3.49998L234.756 3.49998L234.756 2.49998L232.924 2.49998L232.924 3.49998ZM236.588 3.49998L238.42 3.49998L238.42 2.49998L236.588 2.49998L236.588 3.49998ZM240.252 3.49998L242.084 3.49998L242.084 2.49998L240.252 2.49998L240.252 3.49998ZM243.916 3.49998L245.748 3.49998L245.748 2.49998L243.916 2.49998L243.916 3.49998ZM247.58 3.49998L249.412 3.49998L249.412 2.49998L247.58 2.49998L247.58 3.49998ZM251.244 3.49998L253.076 3.49998L253.076 2.49998L251.244 2.49998L251.244 3.49998ZM254.908 3.49998L256.741 3.49998L256.741 2.49998L254.908 2.49998L254.908 3.49998ZM258.573 3.49998L260.405 3.49998L260.405 2.49998L258.573 2.49998L258.573 3.49998ZM262.237 3.49998L264.069 3.49998L264.069 2.49998L262.237 2.49998L262.237 3.49998ZM265.901 3.49998L267.733 3.49998L267.733 2.49998L265.901 2.49998L265.901 3.49998ZM269.565 3.49998L271.397 3.49998L271.397 2.49998L269.565 2.49998L269.565 3.49998ZM273.229 3.49998L275.061 3.49998L275.061 2.49998L273.229 2.49998L273.229 3.49998ZM276.893 3.49998L278.725 3.49998L278.725 2.49998L276.893 2.49998L276.893 3.49998ZM280.557 3.49998L282.389 3.49998L282.389 2.49998L280.557 2.49998L280.557 3.49998ZM284.221 3.49998L286.054 3.49998L286.054 2.49998L284.221 2.49998L284.221 3.49998ZM287.886 3.49998L289.718 3.49997L289.718 2.49997L287.886 2.49998L287.886 3.49998ZM291.55 3.49997L293.382 3.49997L293.382 2.49997L291.55 2.49997L291.55 3.49997ZM295.214 3.49997L297.046 3.49997L297.046 2.49997L295.214 2.49997L295.214 3.49997ZM298.878 3.49997L300.71 3.49997L300.71 2.49997L298.878 2.49997L298.878 3.49997ZM302.542 3.49997L304.374 3.49997L304.374 2.49997L302.542 2.49997L302.542 3.49997ZM306.206 3.49997L308.038 3.49997L308.038 2.49997L306.206 2.49997L306.206 3.49997ZM309.87 3.49997L311.702 3.49997L311.702 2.49997L309.87 2.49997L309.87 3.49997ZM313.534 3.49997L315.367 3.49997L315.367 2.49997L313.534 2.49997L313.534 3.49997ZM317.199 3.49997L319.031 3.49997L319.031 2.49997L317.199 2.49997L317.199 3.49997ZM320.863 3.49997L322.695 3.49997L322.695 2.49997L320.863 2.49997L320.863 3.49997ZM324.527 3.49997L326.359 3.49997L326.359 2.49997L324.527 2.49997L324.527 3.49997ZM328.191 3.49997L330.023 3.49997L330.023 2.49997L328.191 2.49997L328.191 3.49997ZM331.855 3.49997L333.687 3.49997L333.687 2.49997L331.855 2.49997L331.855 3.49997ZM335.519 3.49997L337.351 3.49997L337.351 2.49997L335.519 2.49997L335.519 3.49997ZM339.183 3.49997L341.015 3.49997L341.015 2.49997L339.183 2.49997L339.183 3.49997ZM342.847 3.49997L344.679 3.49997L344.679 2.49997L342.847 2.49997L342.847 3.49997ZM346.512 3.49997L348.344 3.49997L348.344 2.49997L346.512 2.49997L346.512 3.49997ZM350.176 3.49997L352.008 3.49997L352.008 2.49997L350.176 2.49997L350.176 3.49997ZM353.84 3.49997L355.672 3.49997L355.672 2.49997L353.84 2.49997L353.84 3.49997ZM357.504 3.49997L359.336 3.49997L359.336 2.49997L357.504 2.49997L357.504 3.49997ZM361.168 3.49997L363 3.49997L363 2.49997L361.168 2.49997L361.168 3.49997ZM364.832 3.49997L366.664 3.49997L366.664 2.49997L364.832 2.49997L364.832 3.49997ZM368.496 3.49997L370.328 3.49997L370.328 2.49997L368.496 2.49997L368.496 3.49997ZM372.16 3.49997L373.992 3.49997L373.992 2.49997L372.16 2.49997L372.16 3.49997ZM375.825 3.49997L377.657 3.49997L377.657 2.49997L375.825 2.49997L375.825 3.49997ZM379.489 3.49997L381.321 3.49997L381.321 2.49997L379.489 2.49997L379.489 3.49997ZM383.153 3.49997L384.985 3.49997L384.985 2.49997L383.153 2.49997L383.153 3.49997ZM386.817 3.49997L388.649 3.49997L388.649 2.49997L386.817 2.49997L386.817 3.49997ZM390.481 3.49997L392.313 3.49997L392.313 2.49997L390.481 2.49997L390.481 3.49997ZM394.145 3.49997L395.977 3.49997L395.977 2.49997L394.145 2.49997L394.145 3.49997ZM397.809 3.49997L399.641 3.49997L399.641 2.49997L397.809 2.49997L397.809 3.49997ZM401.473 3.49997L403.305 3.49997L403.305 2.49997L401.473 2.49997L401.473 3.49997ZM405.138 3.49996L406.97 3.49996L406.97 2.49996L405.138 2.49996L405.138 3.49996ZM408.802 3.49996L410.634 3.49996L410.634 2.49996L408.802 2.49996L408.802 3.49996ZM412.466 3.49996L414.298 3.49996L414.298 2.49996L412.466 2.49996L412.466 3.49996ZM416.13 3.49996L417.962 3.49996L417.962 2.49996L416.13 2.49996L416.13 3.49996ZM419.794 3.49996L421.626 3.49996L421.626 2.49996L419.794 2.49996L419.794 3.49996ZM423.458 3.49996L425.29 3.49996L425.29 2.49996L423.458 2.49996L423.458 3.49996ZM427.122 3.49996L428.954 3.49996L428.954 2.49996L427.122 2.49996L427.122 3.49996ZM430.786 3.49996L432.618 3.49996L432.618 2.49996L430.786 2.49996L430.786 3.49996ZM434.451 3.49996L436.283 3.49996L436.283 2.49996L434.451 2.49996L434.451 3.49996ZM438.115 3.49996L439.947 3.49996L439.947 2.49996L438.115 2.49996L438.115 3.49996ZM441.779 3.49996L443.611 3.49996L443.611 2.49996L441.779 2.49996L441.779 3.49996ZM445.443 3.49996L447.275 3.49996L447.275 2.49996L445.443 2.49996L445.443 3.49996ZM449.107 3.49996L450.939 3.49996L450.939 2.49996L449.107 2.49996L449.107 3.49996ZM452.771 3.49996L454.603 3.49996L454.603 2.49996L452.771 2.49996L452.771 3.49996ZM456.435 3.49996L458.267 3.49996L458.267 2.49996L456.435 2.49996L456.435 3.49996ZM460.099 3.49996L461.931 3.49996L461.931 2.49996L460.099 2.49996L460.099 3.49996ZM463.763 3.49996L465.596 3.49996L465.596 2.49996L463.763 2.49996L463.763 3.49996ZM467.428 3.49996L469.26 3.49996L469.26 2.49996L467.428 2.49996L467.428 3.49996ZM471.092 3.49996L472.924 3.49996L472.924 2.49996L471.092 2.49996L471.092 3.49996ZM474.756 3.49996L476.588 3.49996L476.588 2.49996L474.756 2.49996L474.756 3.49996ZM478.42 3.49996L480.252 3.49996L480.252 2.49996L478.42 2.49996L478.42 3.49996ZM482.084 3.49996L483 3.49996L483 2.49996L482.084 2.49996L482.084 3.49996Z" fill="#1E1E1E"/>
                    </svg>
                    <p class="font-secondary">Frame Width</p>
                </div>
            </div>
            <div class="w-full relative">
                {% render "molecule--product-right", product: product %}
                <div class="absolute flex flex-col items-center justify-center -left-0 bottom-[30px] pointer-events-none">
                    <svg aria-hidden="true" role="none" focusable="false" class="w-[280px] dk:w-[431px] h-[6px]" viewBox="0 0 431 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM425.333 3.00004C425.333 4.4728 426.527 5.6667 428 5.6667C429.473 5.6667 430.667 4.4728 430.667 3.00004C430.667 1.52728 429.473 0.333371 428 0.33337C426.527 0.33337 425.333 1.52728 425.333 3.00004ZM3 3.5L3.91595 3.5L3.91595 2.5L3 2.5L3 3.5ZM5.74784 3.5L7.57974 3.5L7.57974 2.5L5.74784 2.5L5.74784 3.5ZM9.41164 3.5L11.2435 3.5L11.2435 2.5L9.41164 2.5L9.41164 3.5ZM13.0754 3.5L14.9073 3.5L14.9073 2.5L13.0754 2.5L13.0754 3.5ZM16.7392 3.5L18.5711 3.5L18.5711 2.5L16.7392 2.5L16.7392 3.5ZM20.403 3.5L22.2349 3.5L22.2349 2.5L20.403 2.5L20.403 3.5ZM24.0668 3.5L25.8987 3.5L25.8987 2.5L24.0668 2.5L24.0668 3.5ZM27.7306 3.5L29.5625 3.5L29.5625 2.5L27.7306 2.5L27.7306 3.5ZM31.3944 3.5L33.2263 3.5L33.2263 2.5L31.3944 2.5L31.3944 3.5ZM35.0582 3.5L36.8901 3.5L36.8901 2.5L35.0582 2.5L35.0582 3.5ZM38.722 3.5L40.5539 3.5L40.5539 2.5L38.722 2.5L38.722 3.5ZM42.3858 3.5L44.2177 3.5L44.2177 2.5L42.3858 2.5L42.3858 3.5ZM46.0496 3.5L47.8815 3.5L47.8815 2.5L46.0496 2.5L46.0496 3.5ZM49.7134 3.5L51.5453 3.5L51.5453 2.5L49.7134 2.5L49.7134 3.5ZM53.3772 3.5L55.2091 3.5L55.2091 2.5L53.3772 2.5L53.3772 3.5ZM57.041 3.5L58.8729 3.5L58.8729 2.5L57.041 2.5L57.041 3.5ZM60.7048 3.50001L62.5367 3.50001L62.5367 2.50001L60.7048 2.50001L60.7048 3.50001ZM64.3685 3.50001L66.2004 3.50001L66.2004 2.50001L64.3685 2.50001L64.3685 3.50001ZM68.0323 3.50001L69.8642 3.50001L69.8642 2.50001L68.0323 2.50001L68.0323 3.50001ZM71.6961 3.50001L73.528 3.50001L73.528 2.50001L71.6961 2.50001L71.6961 3.50001ZM75.3599 3.50001L77.1918 3.50001L77.1918 2.50001L75.3599 2.50001L75.3599 3.50001ZM79.0237 3.50001L80.8556 3.50001L80.8556 2.50001L79.0237 2.50001L79.0237 3.50001ZM82.6875 3.50001L84.5194 3.50001L84.5194 2.50001L82.6875 2.50001L82.6875 3.50001ZM86.3513 3.50001L88.1832 3.50001L88.1832 2.50001L86.3513 2.50001L86.3513 3.50001ZM90.0151 3.50001L91.847 3.50001L91.847 2.50001L90.0151 2.50001L90.0151 3.50001ZM93.6789 3.50001L95.5107 3.50001L95.5107 2.50001L93.6789 2.50001L93.6789 3.50001ZM97.3426 3.50001L99.1745 3.50001L99.1745 2.50001L97.3426 2.50001L97.3426 3.50001ZM101.006 3.50001L102.838 3.50001L102.838 2.50001L101.006 2.50001L101.006 3.50001ZM104.67 3.50001L106.502 3.50001L106.502 2.50001L104.67 2.50001L104.67 3.50001ZM108.334 3.50001L110.166 3.50001L110.166 2.50001L108.334 2.50001L108.334 3.50001ZM111.998 3.50001L113.83 3.50001L113.83 2.50001L111.998 2.50001L111.998 3.50001ZM115.662 3.50001L117.493 3.50001L117.493 2.50001L115.662 2.50001L115.662 3.50001ZM119.325 3.50001L121.157 3.50001L121.157 2.50001L119.325 2.50001L119.325 3.50001ZM122.989 3.50001L124.821 3.50001L124.821 2.50001L122.989 2.50001L122.989 3.50001ZM126.653 3.50001L128.485 3.50001L128.485 2.50001L126.653 2.50001L126.653 3.50001ZM130.317 3.50001L132.149 3.50001L132.149 2.50001L130.317 2.50001L130.317 3.50001ZM133.981 3.50001L135.812 3.50001L135.812 2.50001L133.981 2.50001L133.981 3.50001ZM137.644 3.50001L139.476 3.50001L139.476 2.50001L137.644 2.50001L137.644 3.50001ZM141.308 3.50001L143.14 3.50001L143.14 2.50001L141.308 2.50001L141.308 3.50001ZM144.972 3.50001L146.804 3.50001L146.804 2.50001L144.972 2.50001L144.972 3.50001ZM148.636 3.50001L150.468 3.50001L150.468 2.50001L148.636 2.50001L148.636 3.50001ZM152.299 3.50001L154.131 3.50001L154.131 2.50001L152.299 2.50001L152.299 3.50001ZM155.963 3.50001L157.795 3.50001L157.795 2.50001L155.963 2.50001L155.963 3.50001ZM159.627 3.50001L161.459 3.50001L161.459 2.50001L159.627 2.50001L159.627 3.50001ZM163.291 3.50001L165.123 3.50001L165.123 2.50001L163.291 2.50001L163.291 3.50001ZM166.955 3.50001L168.787 3.50001L168.787 2.50001L166.955 2.50001L166.955 3.50001ZM170.618 3.50001L172.45 3.50001L172.45 2.50001L170.618 2.50001L170.618 3.50001ZM174.282 3.50001L176.114 3.50002L176.114 2.50002L174.282 2.50001L174.282 3.50001ZM177.946 3.50002L179.778 3.50002L179.778 2.50002L177.946 2.50002L177.946 3.50002ZM181.61 3.50002L183.442 3.50002L183.442 2.50002L181.61 2.50002L181.61 3.50002ZM185.274 3.50002L187.105 3.50002L187.105 2.50002L185.274 2.50002L185.274 3.50002ZM188.937 3.50002L190.769 3.50002L190.769 2.50002L188.937 2.50002L188.937 3.50002ZM192.601 3.50002L194.433 3.50002L194.433 2.50002L192.601 2.50002L192.601 3.50002ZM196.265 3.50002L198.097 3.50002L198.097 2.50002L196.265 2.50002L196.265 3.50002ZM199.929 3.50002L201.761 3.50002L201.761 2.50002L199.929 2.50002L199.929 3.50002ZM203.593 3.50002L205.424 3.50002L205.424 2.50002L203.593 2.50002L203.593 3.50002ZM207.256 3.50002L209.088 3.50002L209.088 2.50002L207.256 2.50002L207.256 3.50002ZM210.92 3.50002L212.752 3.50002L212.752 2.50002L210.92 2.50002L210.92 3.50002ZM214.584 3.50002L216.416 3.50002L216.416 2.50002L214.584 2.50002L214.584 3.50002ZM218.248 3.50002L220.08 3.50002L220.08 2.50002L218.248 2.50002L218.248 3.50002ZM221.911 3.50002L223.743 3.50002L223.743 2.50002L221.911 2.50002L221.911 3.50002ZM225.575 3.50002L227.407 3.50002L227.407 2.50002L225.575 2.50002L225.575 3.50002ZM229.239 3.50002L231.071 3.50002L231.071 2.50002L229.239 2.50002L229.239 3.50002ZM232.903 3.50002L234.735 3.50002L234.735 2.50002L232.903 2.50002L232.903 3.50002ZM236.567 3.50002L238.398 3.50002L238.398 2.50002L236.567 2.50002L236.567 3.50002ZM240.23 3.50002L242.062 3.50002L242.062 2.50002L240.23 2.50002L240.23 3.50002ZM243.894 3.50002L245.726 3.50002L245.726 2.50002L243.894 2.50002L243.894 3.50002ZM247.558 3.50002L249.39 3.50002L249.39 2.50002L247.558 2.50002L247.558 3.50002ZM251.222 3.50002L253.054 3.50002L253.054 2.50002L251.222 2.50002L251.222 3.50002ZM254.886 3.50002L256.717 3.50002L256.717 2.50002L254.886 2.50002L254.886 3.50002ZM258.549 3.50002L260.381 3.50002L260.381 2.50002L258.549 2.50002L258.549 3.50002ZM262.213 3.50002L264.045 3.50002L264.045 2.50002L262.213 2.50002L262.213 3.50002ZM265.877 3.50002L267.709 3.50002L267.709 2.50002L265.877 2.50002L265.877 3.50002ZM269.541 3.50002L271.373 3.50002L271.373 2.50002L269.541 2.50002L269.541 3.50002ZM273.205 3.50002L275.036 3.50002L275.036 2.50002L273.205 2.50002L273.205 3.50002ZM276.868 3.50002L278.7 3.50002L278.7 2.50002L276.868 2.50002L276.868 3.50002ZM280.532 3.50002L282.364 3.50002L282.364 2.50002L280.532 2.50002L280.532 3.50002ZM284.196 3.50002L286.028 3.50002L286.028 2.50002L284.196 2.50002L284.196 3.50002ZM287.86 3.50002L289.692 3.50003L289.692 2.50003L287.86 2.50002L287.86 3.50002ZM291.524 3.50003L293.356 3.50003L293.356 2.50003L291.524 2.50003L291.524 3.50003ZM295.187 3.50003L297.019 3.50003L297.019 2.50003L295.188 2.50003L295.187 3.50003ZM298.851 3.50003L300.683 3.50003L300.683 2.50003L298.851 2.50003L298.851 3.50003ZM302.515 3.50003L304.347 3.50003L304.347 2.50003L302.515 2.50003L302.515 3.50003ZM306.179 3.50003L308.011 3.50003L308.011 2.50003L306.179 2.50003L306.179 3.50003ZM309.843 3.50003L311.675 3.50003L311.675 2.50003L309.843 2.50003L309.843 3.50003ZM313.507 3.50003L315.339 3.50003L315.339 2.50003L313.507 2.50003L313.507 3.50003ZM317.17 3.50003L319.002 3.50003L319.002 2.50003L317.17 2.50003L317.17 3.50003ZM320.834 3.50003L322.666 3.50003L322.666 2.50003L320.834 2.50003L320.834 3.50003ZM324.498 3.50003L326.33 3.50003L326.33 2.50003L324.498 2.50003L324.498 3.50003ZM328.162 3.50003L329.994 3.50003L329.994 2.50003L328.162 2.50003L328.162 3.50003ZM331.826 3.50003L333.658 3.50003L333.658 2.50003L331.826 2.50003L331.826 3.50003ZM335.49 3.50003L337.321 3.50003L337.321 2.50003L335.49 2.50003L335.49 3.50003ZM339.153 3.50003L340.985 3.50003L340.985 2.50003L339.153 2.50003L339.153 3.50003ZM342.817 3.50003L344.649 3.50003L344.649 2.50003L342.817 2.50003L342.817 3.50003ZM346.481 3.50003L348.313 3.50003L348.313 2.50003L346.481 2.50003L346.481 3.50003ZM350.145 3.50003L351.977 3.50003L351.977 2.50003L350.145 2.50003L350.145 3.50003ZM353.809 3.50003L355.641 3.50003L355.641 2.50003L353.809 2.50003L353.809 3.50003ZM357.472 3.50003L359.304 3.50003L359.304 2.50003L357.472 2.50003L357.472 3.50003ZM361.136 3.50003L362.968 3.50003L362.968 2.50003L361.136 2.50003L361.136 3.50003ZM364.8 3.50003L366.632 3.50003L366.632 2.50003L364.8 2.50003L364.8 3.50003ZM368.464 3.50003L370.296 3.50003L370.296 2.50003L368.464 2.50003L368.464 3.50003ZM372.128 3.50003L373.96 3.50003L373.96 2.50003L372.128 2.50003L372.128 3.50003ZM375.792 3.50003L377.623 3.50003L377.623 2.50003L375.792 2.50003L375.792 3.50003ZM379.455 3.50003L381.287 3.50003L381.287 2.50003L379.455 2.50003L379.455 3.50003ZM383.119 3.50003L384.951 3.50003L384.951 2.50003L383.119 2.50003L383.119 3.50003ZM386.783 3.50003L388.615 3.50003L388.615 2.50003L386.783 2.50003L386.783 3.50003ZM390.447 3.50003L392.279 3.50003L392.279 2.50003L390.447 2.50003L390.447 3.50003ZM394.111 3.50003L395.943 3.50003L395.943 2.50003L394.111 2.50003L394.111 3.50003ZM397.774 3.50003L399.606 3.50003L399.606 2.50003L397.774 2.50003L397.774 3.50003ZM401.438 3.50003L403.27 3.50003L403.27 2.50003L401.438 2.50003L401.438 3.50003ZM405.102 3.50004L406.934 3.50004L406.934 2.50004L405.102 2.50004L405.102 3.50004ZM408.766 3.50004L410.598 3.50004L410.598 2.50004L408.766 2.50004L408.766 3.50004ZM412.43 3.50004L414.262 3.50004L414.262 2.50004L412.43 2.50004L412.43 3.50004ZM416.094 3.50004L417.925 3.50004L417.925 2.50004L416.094 2.50004L416.094 3.50004ZM419.757 3.50004L421.589 3.50004L421.589 2.50004L419.757 2.50004L419.757 3.50004ZM423.421 3.50004L425.253 3.50004L425.253 2.50004L423.421 2.50004L423.421 3.50004ZM427.085 3.50004L428 3.50004L428 2.50004L427.085 2.50004L427.085 3.50004Z" fill="#1E1E1E"/>
                    </svg>
                    <p class="font-secondary">Temple Length</p>
                </div>
            </div>

            <p class="py-4 border-b grotesk-bold text-[18px]">Fit</p>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Frame Fit</p>
                <p>{{ pc.metafields.custom.frame_fit }}</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Hinge Type</p>
                <p>{{ pc.metafields.custom.hinge_type }}</p>
            </div>
            <div class="flex justify-between py-2 border-b">
                <p class="grotesk-bold">Hinge to Hinge Distance</p>
                <p>{{ pc.metafields.custom.hinge_to_hinge_distance | remove: '.0' }} mm</p>
            </div>
            <div class="w-full relative">
                {% render "component--responsive-image", image: product.featured_image, objectFit: false %}
                <div class="absolute flex flex-col items-center justify-center mx-auto w-[300px] dk:w-[400px] left-0 right-0 top-[25px] dk:top-[50px] pointer-events-none">
                    <p class="font-secondary">Hinge to Hinge Distance</p>
                    <svg aria-hidden="true" role="none" class="w-full h-[24px]" viewBox="0 0 424 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 1.5L3.91667 1.5L3.91667 0.5L3 0.5L3 1.5ZM5.75 1.5L7.58333 1.5L7.58333 0.5L5.75 0.5L5.75 1.5ZM9.41667 1.5L11.25 1.5L11.25 0.500001L9.41667 0.500001L9.41667 1.5ZM13.0833 1.5L14.9167 1.5L14.9167 0.500001L13.0833 0.500001L13.0833 1.5ZM16.75 1.5L18.5833 1.5L18.5833 0.500001L16.75 0.500001L16.75 1.5ZM20.4167 1.5L22.25 1.5L22.25 0.500002L20.4167 0.500002L20.4167 1.5ZM24.0833 1.5L25.9167 1.5L25.9167 0.500002L24.0833 0.500002L24.0833 1.5ZM27.75 1.5L29.5833 1.5L29.5833 0.500002L27.75 0.500002L27.75 1.5ZM31.4167 1.5L33.25 1.5L33.25 0.500003L31.4167 0.500002L31.4167 1.5ZM35.0833 1.5L36.9167 1.5L36.9167 0.500003L35.0833 0.500003L35.0833 1.5ZM38.75 1.5L40.5833 1.5L40.5833 0.500003L38.75 0.500003L38.75 1.5ZM42.4167 1.5L44.25 1.5L44.25 0.500004L42.4167 0.500003L42.4167 1.5ZM46.0833 1.5L47.9167 1.5L47.9167 0.500004L46.0833 0.500004L46.0833 1.5ZM49.75 1.5L51.5833 1.5L51.5833 0.500004L49.75 0.500004L49.75 1.5ZM53.4167 1.5L55.25 1.5L55.25 0.500005L53.4167 0.500004L53.4167 1.5ZM57.0833 1.5L58.9167 1.5L58.9167 0.500005L57.0833 0.500005L57.0833 1.5ZM60.75 1.50001L62.5833 1.50001L62.5833 0.500005L60.75 0.500005L60.75 1.50001ZM64.4166 1.50001L66.25 1.50001L66.25 0.500006L64.4166 0.500005L64.4166 1.50001ZM68.0833 1.50001L69.9166 1.50001L69.9166 0.500006L68.0833 0.500006L68.0833 1.50001ZM71.75 1.50001L73.5833 1.50001L73.5833 0.500006L71.75 0.500006L71.75 1.50001ZM75.4167 1.50001L77.25 1.50001L77.25 0.500006L75.4167 0.500006L75.4167 1.50001ZM79.0833 1.50001L80.9167 1.50001L80.9167 0.500007L79.0833 0.500007L79.0833 1.50001ZM82.75 1.50001L84.5833 1.50001L84.5833 0.500007L82.75 0.500007L82.75 1.50001ZM86.4167 1.50001L88.25 1.50001L88.25 0.500007L86.4167 0.500007L86.4167 1.50001ZM90.0833 1.50001L91.9167 1.50001L91.9167 0.500008L90.0833 0.500008L90.0833 1.50001ZM93.75 1.50001L95.5834 1.50001L95.5834 0.500008L93.75 0.500008L93.75 1.50001ZM97.4167 1.50001L99.25 1.50001L99.25 0.500008L97.4167 0.500008L97.4167 1.50001ZM101.083 1.50001L102.917 1.50001L102.917 0.500009L101.083 0.500009L101.083 1.50001ZM104.75 1.50001L106.583 1.50001L106.583 0.500009L104.75 0.500009L104.75 1.50001ZM108.417 1.50001L110.25 1.50001L110.25 0.500009L108.417 0.500009L108.417 1.50001ZM112.083 1.50001L113.917 1.50001L113.917 0.50001L112.083 0.50001L112.083 1.50001ZM115.75 1.50001L117.583 1.50001L117.583 0.50001L115.75 0.50001L115.75 1.50001ZM119.417 1.50001L121.25 1.50001L121.25 0.50001L119.417 0.50001L119.417 1.50001ZM123.083 1.50001L124.917 1.50001L124.917 0.500011L123.083 0.50001L123.083 1.50001ZM126.75 1.50001L128.583 1.50001L128.583 0.500011L126.75 0.500011L126.75 1.50001ZM130.417 1.50001L132.25 1.50001L132.25 0.500011L130.417 0.500011L130.417 1.50001ZM134.083 1.50001L135.917 1.50001L135.917 0.500012L134.083 0.500011L134.083 1.50001ZM137.75 1.50001L139.583 1.50001L139.583 0.500012L137.75 0.500012L137.75 1.50001ZM141.417 1.50001L143.25 1.50001L143.25 0.500012L141.417 0.500012L141.417 1.50001ZM145.083 1.50001L146.917 1.50001L146.917 0.500013L145.083 0.500012L145.083 1.50001ZM148.75 1.50001L150.583 1.50001L150.583 0.500013L148.75 0.500013L148.75 1.50001ZM152.417 1.50001L154.25 1.50001L154.25 0.500013L152.417 0.500013L152.417 1.50001ZM156.083 1.50001L157.917 1.50001L157.917 0.500014L156.083 0.500013L156.083 1.50001ZM159.75 1.50001L161.583 1.50001L161.583 0.500014L159.75 0.500014L159.75 1.50001ZM163.417 1.50001L165.25 1.50001L165.25 0.500014L163.417 0.500014L163.417 1.50001ZM167.083 1.50001L168.917 1.50001L168.917 0.500015L167.083 0.500014L167.083 1.50001ZM170.75 1.50001L172.583 1.50001L172.583 0.500015L170.75 0.500015L170.75 1.50001ZM174.417 1.50001L176.25 1.50002L176.25 0.500015L174.417 0.500015L174.417 1.50001ZM178.083 1.50002L179.917 1.50002L179.917 0.500015L178.083 0.500015L178.083 1.50002ZM181.75 1.50002L183.583 1.50002L183.583 0.500016L181.75 0.500016L181.75 1.50002ZM185.417 1.50002L187.25 1.50002L187.25 0.500016L185.417 0.500016L185.417 1.50002ZM189.083 1.50002L190.917 1.50002L190.917 0.500016L189.083 0.500016L189.083 1.50002ZM192.75 1.50002L194.583 1.50002L194.583 0.500017L192.75 0.500017L192.75 1.50002ZM196.417 1.50002L198.25 1.50002L198.25 0.500017L196.417 0.500017L196.417 1.50002ZM200.083 1.50002L201.917 1.50002L201.917 0.500017L200.083 0.500017L200.083 1.50002ZM203.75 1.50002L205.583 1.50002L205.583 0.500018L203.75 0.500018L203.75 1.50002ZM207.417 1.50002L209.25 1.50002L209.25 0.500018L207.417 0.500018L207.417 1.50002ZM211.083 1.50002L212.917 1.50002L212.917 0.500018L211.083 0.500018L211.083 1.50002ZM214.75 1.50002L216.583 1.50002L216.583 0.500019L214.75 0.500019L214.75 1.50002ZM218.416 1.50002L220.25 1.50002L220.25 0.500019L218.416 0.500019L218.416 1.50002ZM222.083 1.50002L223.916 1.50002L223.916 0.500019L222.083 0.500019L222.083 1.50002ZM225.75 1.50002L227.583 1.50002L227.583 0.50002L225.75 0.500019L225.75 1.50002ZM229.416 1.50002L231.25 1.50002L231.25 0.50002L229.416 0.50002L229.416 1.50002ZM233.083 1.50002L234.916 1.50002L234.916 0.50002L233.083 0.50002L233.083 1.50002ZM236.75 1.50002L238.583 1.50002L238.583 0.500021L236.75 0.50002L236.75 1.50002ZM240.416 1.50002L242.25 1.50002L242.25 0.500021L240.416 0.500021L240.416 1.50002ZM244.083 1.50002L245.916 1.50002L245.916 0.500021L244.083 0.500021L244.083 1.50002ZM247.75 1.50002L249.583 1.50002L249.583 0.500022L247.75 0.500021L247.75 1.50002ZM251.416 1.50002L253.25 1.50002L253.25 0.500022L251.416 0.500022L251.416 1.50002ZM255.083 1.50002L256.916 1.50002L256.916 0.500022L255.083 0.500022L255.083 1.50002ZM258.75 1.50002L260.583 1.50002L260.583 0.500023L258.75 0.500022L258.75 1.50002ZM262.416 1.50002L264.25 1.50002L264.25 0.500023L262.416 0.500023L262.416 1.50002ZM266.083 1.50002L267.916 1.50002L267.916 0.500023L266.083 0.500023L266.083 1.50002ZM269.75 1.50002L271.583 1.50002L271.583 0.500023L269.75 0.500023L269.75 1.50002ZM273.416 1.50002L275.25 1.50002L275.25 0.500024L273.416 0.500024L273.416 1.50002ZM277.083 1.50002L278.916 1.50002L278.916 0.500024L277.083 0.500024L277.083 1.50002ZM280.75 1.50002L282.583 1.50002L282.583 0.500024L280.75 0.500024L280.75 1.50002ZM284.417 1.50002L286.25 1.50002L286.25 0.500025L284.417 0.500025L284.417 1.50002ZM288.083 1.50002L289.917 1.50003L289.917 0.500025L288.083 0.500025L288.083 1.50002ZM291.75 1.50003L293.583 1.50003L293.583 0.500025L291.75 0.500025L291.75 1.50003ZM295.417 1.50003L297.25 1.50003L297.25 0.500026L295.417 0.500026L295.417 1.50003ZM299.083 1.50003L300.917 1.50003L300.917 0.500026L299.083 0.500026L299.083 1.50003ZM302.75 1.50003L304.583 1.50003L304.583 0.500026L302.75 0.500026L302.75 1.50003ZM306.417 1.50003L308.25 1.50003L308.25 0.500027L306.417 0.500027L306.417 1.50003ZM310.083 1.50003L311.917 1.50003L311.917 0.500027L310.083 0.500027L310.083 1.50003ZM313.75 1.50003L315.583 1.50003L315.583 0.500027L313.75 0.500027L313.75 1.50003ZM317.417 1.50003L319.25 1.50003L319.25 0.500028L317.417 0.500027L317.417 1.50003ZM321.083 1.50003L322.917 1.50003L322.917 0.500028L321.083 0.500028L321.083 1.50003ZM324.75 1.50003L326.583 1.50003L326.583 0.500028L324.75 0.500028L324.75 1.50003ZM328.417 1.50003L330.25 1.50003L330.25 0.500029L328.417 0.500028L328.417 1.50003ZM332.083 1.50003L333.917 1.50003L333.917 0.500029L332.083 0.500029L332.083 1.50003ZM335.75 1.50003L337.583 1.50003L337.583 0.500029L335.75 0.500029L335.75 1.50003ZM339.417 1.50003L341.25 1.50003L341.25 0.50003L339.417 0.500029L339.417 1.50003ZM343.083 1.50003L344.917 1.50003L344.917 0.50003L343.083 0.50003L343.083 1.50003ZM346.75 1.50003L348.584 1.50003L348.584 0.50003L346.75 0.50003L346.75 1.50003ZM350.417 1.50003L352.25 1.50003L352.25 0.500031L350.417 0.50003L350.417 1.50003ZM354.084 1.50003L355.917 1.50003L355.917 0.500031L354.084 0.500031L354.084 1.50003ZM357.75 1.50003L359.584 1.50003L359.584 0.500031L357.75 0.500031L357.75 1.50003ZM361.417 1.50003L363.25 1.50003L363.25 0.500031L361.417 0.500031L361.417 1.50003ZM365.084 1.50003L366.917 1.50003L366.917 0.500032L365.084 0.500032L365.084 1.50003ZM368.75 1.50003L370.584 1.50003L370.584 0.500032L368.75 0.500032L368.75 1.50003ZM372.417 1.50003L374.25 1.50003L374.25 0.500032L372.417 0.500032L372.417 1.50003ZM376.084 1.50003L377.917 1.50003L377.917 0.500033L376.084 0.500033L376.084 1.50003ZM379.75 1.50003L381.584 1.50003L381.584 0.500033L379.75 0.500033L379.75 1.50003ZM383.417 1.50003L385.25 1.50003L385.25 0.500033L383.417 0.500033L383.417 1.50003ZM387.084 1.50003L388.917 1.50003L388.917 0.500034L387.084 0.500034L387.084 1.50003ZM390.75 1.50003L392.584 1.50003L392.584 0.500034L390.75 0.500034L390.75 1.50003ZM394.417 1.50003L396.25 1.50003L396.25 0.500034L394.417 0.500034L394.417 1.50003ZM398.084 1.50003L399.917 1.50003L399.917 0.500035L398.084 0.500035L398.084 1.50003ZM401.75 1.50003L403.584 1.50004L403.584 0.500035L401.75 0.500035L401.75 1.50003ZM405.417 1.50004L407.251 1.50004L407.251 0.500035L405.417 0.500035L405.417 1.50004ZM409.084 1.50004L410.917 1.50004L410.917 0.500036L409.084 0.500036L409.084 1.50004ZM412.751 1.50004L414.584 1.50004L414.584 0.500036L412.751 0.500036L412.751 1.50004ZM416.417 1.50004L418.251 1.50004L418.251 0.500036L416.417 0.500036L416.417 1.50004ZM420.084 1.50004L421 1.50004L421 0.500037L420.084 0.500036L420.084 1.50004Z" fill="#1E1E1E"/>
                        <path d="M3 18.3333C1.52724 18.3333 0.333333 19.5272 0.333333 21C0.333333 22.4728 1.52724 23.6667 3 23.6667C4.47276 23.6667 5.66667 22.4728 5.66667 21C5.66667 19.5272 4.47276 18.3333 3 18.3333ZM2.5 1V2H3.5V1H2.5ZM2.5 4L2.5 6H3.5L3.5 4H2.5ZM2.5 8V10H3.5V8H2.5ZM2.5 12V14H3.5V12H2.5ZM2.5 16V18H3.5V16H2.5ZM2.5 20V21H3.5L3.5 20H2.5Z" fill="#1E1E1E"/>
                        <path d="M421 18.3333C419.527 18.3333 418.333 19.5272 418.333 21C418.333 22.4728 419.527 23.6667 421 23.6667C422.473 23.6667 423.667 22.4728 423.667 21C423.667 19.5272 422.473 18.3333 421 18.3333ZM420.5 1V2H421.5V1H420.5ZM420.5 4V6H421.5V4H420.5ZM420.5 8V10H421.5V8H420.5ZM420.5 12V14H421.5V12H420.5ZM420.5 16V18H421.5V16H420.5ZM420.5 20V21H421.5V20H420.5Z" fill="#1E1E1E"/>
                    </svg>
                </div>
            </div>
            <div class="flex flex-wrap justify-between py-2 border-b">
                <p class="grotesk-bold w-full">Designer's Notes</p>
                <p class="w-full">{{ product.metafields.custom.fit_description }}</p>
            </div>
        </div>
        {% comment %}
        <div class="bg-faded-lime cx cy mt-8">
            <h6>
                <span class="grotesk-bold">Still unsure?</span>
                Check out our
                <a class="grotesk-bold underline" href="#">Fit Guide</a>
                for more detailed information on finding your fit. Or, try on at home with
                <span class="font-script">free</span>
                shipping and returns.</h6>
        </div>
        {% endcomment %}
    </div>
    <div class="drawer-bg js-close fixed inset-0 opacity-0 z-40 bg-off-black inset-0 opacity-0 pointer-events-none"></div>
</drawer-overlay>

{% schema %}
    {
        "name": "Fit",
        "tag": "section",
        "class": "pdp-async",
        "settings": [
        {
            "type": "select",
            "id": "animation",
            "label": "t:settings_schema.animations.settings.animation.label",
            "info": "t:settings_schema.animations.settings.animation.info",
            "options": [
                {
                    "value": "",
                    "label": "t:settings_schema.animations.settings.none.label"
                },
                {
                    "value": "Fade",
                    "label": "t:settings_schema.animations.settings.fade.label"
                },
                {
                    "value": "StaggerFade",
                    "label": "t:settings_schema.animations.settings.stagger_fade.label"
                }
            ],
            "default": ""
        },
        {
            "type": "select",
            "id": "margin_bottom",
            "label": "Bottom Margin",
            "info": "Optional space at bottom of section",
            "options": [
                {
                    "value": "--mb-m: 0px; --mb-d: 0px;",
                    "label": "No margin"
                },
                {
                    "value": "--mb-m: 30px; --mb-d: 60px;",
                    "label": "Small Margin"
                },
                {
                    "value": "--mb-m: 60px; --mb-d: 120px;",
                    "label": "Large Margin"
                }
            ],
            "default": "--mb-m: 0px; --mb-d: 0px;"
        },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Fit"
            }, {
                "type": "checkbox",
                "id": "is_accordion",
                "default": false,
                "label": "Make Section Accordion"
            }, {
                "type": "checkbox",
                "id": "open",
                "default": false,
                "label": "Open"
            }
        ],
        "blocks": [
            {
                "type": "fit_slide",
                "name": "Fit Slide",
                "settings": [
                    {
                        "type": "video",
                        "id": "fit_video",
                        "label": "Video"
                    },
                    {
                        "type": "text",
                        "id": "alt_text",
                        "label": "Alt Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Fit"
            }
        ],
        "templates": ["product"]
    }
{% endschema %}