{% unless section.settings.hide %}
<style>.sale-banner{margin-bottom:40px;}.sale-banner .button:hover, .sale-banner .button:focus {background-color:{{ section.settings.button_bg_hover_color }} !important;color:{{ section.settings.button_hover_color }} !important;border-color:{{ section.settings.button_bg_color_border }};}</style>
<div class="sale-banner feature-row">
  {% if section.settings.image_link != blank %}<a href="{{ section.settings.image_link }}">{% endif %}
    {{ section.settings.background_image | img_url: '2000x1000' | img_tag: section.settings.image.alt, 'background__image u-ls' }}
    {{ section.settings.background_image_mobile | img_url: '1000x1000' | img_tag: section.settings.image_mobile.alt, 'background__image u-ss' }}
  {% if section.settings.image_link != blank %}</a>{% endif %}	
  	<div class="overlay-box {{ section.settings.text_align_bg_image }}">
      {% if section.settings.title_bg_image != blank %}
        <h1 style="text-align:{{ section.settings.text_align_bg_image | split: 'text-' | last }};{% if section.settings.color_bg_image.size > 0 %}color:{{ section.settings.color_bg_image }};{% endif %}">{{ section.settings.title_bg_image }}</h1>
      {% endif %}
      {% if section.settings.text_bg_image != blank %}
        <div class="rte-setting featured-row__subtext" style="{% if section.settings.text_align_bg_image == 'text-center' %}margin:0 auto;{% endif %}{% if section.settings.max_width_bg_image.size > 0 %}max-width:{{ section.settings.max_width_bg_image }};{% endif %}{% if section.settings.color_bg_image.size > 0 %}color:{{ section.settings.color_bg_image }};{% endif %}">{{ section.settings.text_bg_image }}</div>
      {% endif %} 
      {% if section.settings.button_label_bg_image != blank %}
        <a href="{{ section.settings.button_link_bg_image }}" class="button one" style="color:{{ section.settings.button_color_bg_image }};background-color:{{ section.settings.button_bg_color_bg_image }};">
          {{ section.settings.button_label_bg_image }}
        </a>
      {% endif %}
      {% if section.settings.button_label2_bg_image != blank %}
        <a href="{{ section.settings.button_link2_bg_image }}" class="button two" style="color:{{ section.settings.button_color_bg_image }};background-color:{{ section.settings.button_bg_color_bg_image }};">
          {{ section.settings.button_label2_bg_image }}
        </a>
      {% endif %}       
  	</div>
</div>
{% endunless %}
{% schema %}
  {
    "name": "Sale Banner",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide",
        "label": "Hide",
		"default": true
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Background Image mobile"
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Image link"
      },
      {
        "type": "select",
        "id": "text_align_bg_image",
        "label": "Text Alignment",
        "options": [
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "max_width_bg_image",
        "label": "Max width"
      },
      {
        "type": "text",
        "id": "title_bg_image",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "textarea",
        "id": "text_bg_image",
        "label": "Text",
        "default": "Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
      },
      {
        "type": "color",
        "id": "color_bg_image",
        "label": "Text color"
      },
      {
        "type": "text",
        "id": "button_label_bg_image",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link_bg_image",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_label2_bg_image",
        "label": "Button label 2"
      },
      {
        "type": "url",
        "id": "button_link2_bg_image",
        "label": "Button link 2"
      },
      {
        "type": "color",
        "id": "button_color_bg_image",
        "label": "Button color"
      },
      {
        "type": "color",
        "id": "button_bg_color_bg_image",
        "label": "Button background color"
      },
      {
        "type": "color",
        "id": "button_bg_color_border",
        "label": "Button hover border color",
		"default": "#000"
      },
      {
        "type": "color",
        "id": "button_hover_color",
        "label": "Button hover text color",
		"default": "#000"
      },
      {
        "type": "color",
        "id": "button_bg_hover_color",
        "label": "Button background hover color",
		"default": "#000"
      }
    ],
    "presets": [
      {
        "name": "Sale Banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}