<div class="lookbook-template">
  <h1>Spring 2016: Day Trip</h1>
  <div class="lookbook-slideshow titletop">
    <div>
      <div class="title">"Guest Lens" photo editorial by TK Anderson, 2015.</div>
      <img src="{{ 'lb.jpg' | asset_url }}" />
    </div>
    <div>
      <div class="title">"Guest Lens" photo editorial by TK Anderson, 2015.</div>
      <img src="{{ 'lb.jpg' | asset_url }}" />
    </div>
    <div>
      <div class="title">"Guest Lens" photo editorial by TK Anderson, 2015.</div>
      <img src="{{ 'lb.jpg' | asset_url }}" />
    </div>
  </div>

  <div class="lookbook-template-content">
    <div class="container">
      <div class="row">
        <div class="three columns">
          <div class="main-collection-item u-center">
            <a href="#">
              <div class="main-collection-item-image">
                <img class="top" src="{{ 'lb-product-1.jpg' | asset_url }}" >
                <img class="bottom" src="{{ 'lb-product-2.jpg' | asset_url }}" >

              </div>
              <div class="main-collection-item-details">
                <h3>The Tuff Patrol</h3>
                <p>Collection product description Lorem ipsum dolor est</p>
                <p class="price">£56</p>
              </div>
            </a>
          </div>
        </div>
        <div class="three columns">
          <div class="main-collection-item u-center">
            <a href="#">
              <div class="main-collection-item-image">
                <img class="top" src="{{ 'lb-product-1.jpg' | asset_url }}" >
                <img class="bottom" src="{{ 'lb-product-2.jpg' | asset_url }}" >

              </div>
              <div class="main-collection-item-details">
                <h3>The Tuff Patrol</h3>
                <p>Collection product description Lorem ipsum dolor est</p>
                <p class="price">£56</p>
              </div>
            </a>
          </div>
        </div>
        <div class="three columns">
          <div class="lookbook-template-video">
            <img src="{{ 'lb-video.jpg' | asset_url }}" />
          </div>
        </div>
        <div class="three columns">
          <div class="lookbook-template-credits">
            <h5>Credits</h5>
            <p>Photography: <a href="#">Quang Le</a><br />Featuring: <a href="#">Ella Mai Weisskamp</a> &amp; <a href="#">Jake Sutter</a><br />Film/Edit: <a href="#">Cameron Holland</a><br />
              HMU: <a href="#">Marley Gonzales</a><br />Styling: <a href="#">Aban Sonia</a> &amp; <a href="#">Smiley Stevens</a><br />Music: <a href="#">CG Roxanne &amp; The Nightmares</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="lookbook-template-cta">
          <a href="#" class="button">Shop Collection</a>
        </div>
      </div>
    </div>
  </div>
</div>
